body {
    text-align: center;
    background-color: #65a30d;

    color: #ffffff;

    font-family: 'Times New Roman', Times, serif;
}

h1, h2, h3 {
    color: #000000;

}

.lista {
    justify-items: center;
}

header {
    background-color: #166534;
}